# === GitHub 镜像版：已移除 Git LFS 过滤器，资源以普通二进制文件存储 ===
# 原腾讯工蜂版本仍使用 LFS，本文件仅在 main 分支生效
# UE项目大文件规则
# Git LFS rules for Unreal Engine project
# Unreal specific file types
# uasset
*.[uU][aA][sS][sS][eE][tT] -text
# umap
*.[uU][mM][aA][pP] -text
# 视频，video
# oggtheora
*.[oO][gG][gG][tT][hH][eE][oO][rR][aA] -text
# m2t
*.[mM]2[tT] -text
# mts
*.[mM][tT][sS] -text
# mp4
*.[mM][pP]4 -text
# avi
*.[aA][vV][iI] -text
# mkv
*.[mM][kK][vV] -text
# wmv
*.[wW][mM][vV] -text
# asf
*.[aA][sS][fF] -text
# asx
*.[aA][sS][xX] -text
# rm
*.[rR][mM] -text
# rmvb
*.[rR][mM][vV][bB] -text
# 3gp
*.3[gG][pP] -text
# 3gpp
*.3[gG][pP][pP] -text
# 3gpp2
*.3[gG][pP][pP]2 -text
# mov
*.[mM][oO][vV] -text
# m4v
*.[mM]4[vV] -text
# dat
*.[dD][aA][tT] -text
# vob
*.[vV][oO][bB] -text
# dv
*.[dD][vV] -text
# mpeg
*.[mM][pP][eE][gG] -text
# mpg
*.[mM][pP][gG] -text
# mpe
*.[mM][pP][eE] -text
# m2v
*.[mM]2[vV] -text
# webm
*.[wW][eE][bB][mM] -text
# flv
*.[fF][lL][vV] -text
# swf
*.[sS][wW][fF] -text
# avc
*.[aA][vV][cC] -text
# arf
*.[aA][rR][fF] -text
# vcr
*.[vV][cC][rR] -text
# ogv
*.[oO][gG][vV] -text
# 音频, audio
# ape
*.[aA][pP][eE] -text
# wav
*.[wW][aA][vV] -text
# m4a
*.[mM]4[aA] -text
# mp3
*.[mM][pP]3 -text
# flac
*.[fF][lL][aA][cC] -text
# aif
*.[aA][iI][fF] -text
# aiff
*.[aA][iI][fF][fF] -text
# aac
*.[aA][aA][cC] -text
# cpa
*.[cC][pP][aA] -text
# swa
*.[sS][wW][aA] -text
# sesx
*.[sS][eE][sS][xX] -text
# ses
*.[sS][eE][sS] -text
# bnk, Wwise audio
*.[bB][nN][kK] -text
# wem, Wwise
*.[wW][eE][mM] -text
# pca
*.[pP][cC][aA] -text
# 库文件，Library
# a
*.[aA] -text
# o
*.[oO] -text
# so
*.[sS][oO] -text
# lib
*.[lL][iI][bB] -text
# dll
*.[dD][lL][lL] -text
# lbr
*.[lL][bB][rR] -text
# tlb
*.[tT][lL][bB] -text
# cab
*.[cC][aA][bB] -text
# dylib
*.[dD][yY][lL][iI][bB] -text
# dsym
*.[dD][sS][yY][mM] -text
# app
*.[aA][pP][pP] -text
# ipa
*.[iI][pP][aA] -text
# dmg
*.[dD][mM][gG] -text
# exe
*.[eE][xX][eE] -text
# pdb
*.[pP][dD][bB] -text
# dbg
*.[dD][bB][gG] -text
# run
*.[rR][uU][nN] -text
# pyd
*.[pP][yY][dD] -text
# pyc
*.[pP][yY][cC] -text
# nupkg, NuGet package
*.[nN][uU][pP][kK][gG] -text
# pch
*.[pP][cC][hH] -text
# ilk
*.[iI][lL][kK] -text
# debug
*.[dD][eE][bB][uU][gG] -text
# obj
*.[oO][bB][jJ] -text
# stub
*.[sS][tT][uU][bB] -text
# ddp
*.[dD][dD][pP] -text
# sym
*.[sS][yY][mM] -text
# lld
*.[lL][lL][dD] -text
# res
*.[rR][eE][sS] -text
# locres
*.[lL][oO][cC][rR][eE][sS] -text
# aar
*.[aA][aA][rR] -text
# udd
*.[uU][dD][dD] -text
# mdb
*.[mM][dD][bB] -text
# ddc
*.[dD][dD][cC] -text
# udn
*.[uU][dD][nN] -text
# h5
*.[hH]5 -text
# 压缩包，Archive format
# =Archiving only=
# ar
*.[aA][rR] -text
# cpio
*.[cC][pP][iI][oO] -text
# shar
*.[sS][hH][aA][rR] -text
# tar
*.[tT][aA][rR] -text
# lbr
*.[lL][bB][rR] -text
# =Compression only=
# Brotli
*.[bB][rR][oO][tT][lL][iI] -text
# bzip2
*.[bB][zZ][iI][pP]2 -text
# compress
*.[cC][oO][mM][pP][rR][eE][sS][sS] -text
# zip
*.[zZ][iI][pP] -text
# gzip
*.[gG][zZ][iI][pP] -text
# zopfli
*.[zZ][oO][pP][fF][lL][iI] -text
# LZMA
*.[lL][zZ][mM][aA] -text
# LZ4
*.[lL][zZ]4 -text
# lzip
*.[lL][zZ][iI][pP] -text
# lzop
*.[lL][zZ][oO][pP] -text
# SQ
*.[sS][qQ] -text
# xz
*.[xX][zZ] -text
# Zstandard
*.[zZ][sS][tT][aA][nN][dD][aA][rR][dD] -text
# =Archiving and compression=
# 7z
*.7[zZ] -text
# ace
*.[aA][cC][eE] -text
# arc
*.[aA][rR][cC] -text
# arj
*.[aA][rR][jJ] -text
# b1
*.[bB]1 -text
# cabinet
*.[cC][aA][bB][iI][nN][eE][tT] -text
# cfs
*.[cC][fF][sS] -text
# cpt
*.[cC][pP][tT] -text
# dar
*.[dD][aA][rR] -text
# dgca
*.[dD][gG][cC][aA] -text
# dmg
*.[dD][mM][gG] -text
# egg
*.[eE][gG][gG] -text
# kgb
*.[kK][gG][bB] -text
# lha
*.[lL][hH][aA] -text
# lzx
*.[lL][zZ][xX] -text
# mpq
*.[mM][pP][qQ] -text
# pea
*.[pP][eE][aA] -text
# rar
*.[rR][aA][rR] -text
# rzip
*.[rR][zZ][iI][pP] -text
# sit
*.[sS][iI][tT] -text
# sitx
*.[sS][iI][tT][xX] -text
# sqx
*.[sS][qQ][xX] -text
# uda
*.[uU][dD][aA] -text
# xar
*.[xX][aA][rR] -text
# zoo
*.[zZ][oO][oO] -text
# zpaq
*.[zZ][pP][aA][qQ] -text
# =Software packaging and distribution=
# apk
*.[aA][pP][kK] -text
# appx
*.[aA][pP][pP][xX] -text
# deb
*.[dD][eE][bB] -text
# rpm
*.[rR][pP][mM] -text
# msi
*.[mM][sS][iI] -text
# ipa
*.[iI][pP][aA] -text
# jar
*.[jJ][aA][rR] -text
# war
*.[wW][aA][rR] -text
# ear
*.[eE][aA][rR] -text
# xap
*.[xX][aA][pP] -text
# xbap
*.[xX][bB][aA][pP] -text
# hap
*.[hH][aA][pP] -text
# app
*.[aA][pP][pP] -text
# gz
*.[gG][zZ] -text
# tgz
*.[tT][gG][zZ] -text
# bz2
*.[bB][zZ]2 -text
# z
*.[zZ] -text
# pak
*.[pP][aA][kK] -text
# archive
*.[aA][rR][cC][hH][iI][vV][eE] -text
# vsix
*.[vV][sS][iI][xX] -text
# disk image
# iso
*.[iI][sS][oO] -text
# bin
*.[bB][iI][nN] -text
# cue
*.[cC][uU][eE] -text
# raw
*.[rR][aA][wW] -text
# Adobe
# Photoshop
# psd
*.[pP][sS][dD] -text
# Illustrator
# ai
*.[aA][iI] -text
# eps
*.[eE][pP][sS] -text
# pdf
*.[pP][dD][fF] -text
# 原始图片，Raw image
# cr2
*.[cC][rR]2 -text
# crw
*.[cC][rR][wW] -text
# nef
*.[nN][eE][fF] -text
# nrw
*.[nN][rR][wW] -text
# sr2
*.[sS][rR]2 -text
# dng
*.[dD][nN][gG] -text
# arw
*.[aA][rR][wW] -text
# ort
*.[oO][rR][fF] -text
# fbx
*.[fF][bB][xX] -text
# 3ds
*.3[dD][sS] -text
# xcf
*.[xX][cC][fF] -text
# hdr
*.[hH][dD][rR] -text
# duf
*.[dD][uU][fF] -text
# mb, maya
*.[mM][bB] -text
# cubemap，unity 贴图
*.[cC][uU][bB][eE][mM][aA][pP] -text
# navmesh，unity
*.[nN][aA][vV][mM][eE][sS][hH] -text
# osm，地理数据
*.[oO][sS][mM] -text
# hip, houdini
*.[hH][iI][pP] -text
# cdr
*.[cC][dD][rR] -text
# raw
*.[rR][aA][wW] -text
# dae
*.[dD][aA][eE] -text
# hda, houdini
*.[dD][aA][eE] -text
# ma, 3dmax
*.[mM][aA] -text
# max, 3dmax
*.[mM][aA][xX] -text
# 3dm, 3d模型
*.3[dD][mM] -text
# blend
*.[bB][lL][eE][nN][dD] -text
# c4d
*.[cC]4[dD] -text
# collada
*.[cC][oO][lL][lL][aA][dD][aA] -text
# dxf
*.[dD][xX][fF] -text
# jas
*.[jJ][aA][sS] -text
# lws
*.[lL][wW][sS] -text
# lxo
*.[lL][xX][oO] -text
# ply
*.[pP][lL][yY] -text
# skp
*.[sS][kK][pP] -text
# stl
*.[sS][tT][lL] -text
# ztl
*.[zZ][tT][lL] -text
# it
*.[iI][tT] -text
# mod
*.[mM][oO][dD] -text
# ogg
*.[oO][gG][gG] -text
# s3m
*.[sS]3[mM] -text
# xm
*.[xX][mM] -text
# glb
*.[gG][lL][bB] -text
# gltf
*.[gG][lL][tT][fF] -text
# off
*.[oO][fF][fF] -text
# wrl
*.[wW][rR][lL] -text
# 3mf
*.3[mM][fF] -text
# amf
*.[aA][mM][fF] -text
# ifc
*.[iI][fF][cC] -text
# brep
*.[bB][rR][eE][pP] -text
# step
*.[sS][tT][eE][pP] -text
# fcstd
*.[fF][cC][sS][tT][dD] -text
# bim
*.[bB][iI][mM] -text
# 图像，Image
# jpg
*.[jJ][pP][gG] -text
# jpeg
*.[jJ][pP][eE][gG] -text
# tiff
*.[tT][iI][fF][fF] -text
# gif
*.[gG][iI][fF] -text
# svg
*.[sS][vV][gG] -text
# svgz
*.[sS][vV][gG][zZ] -text
# bmp
*.[bB][mM][pP] -text
# png
*.[pP][nN][gG] -text
# tif
*.[tT][iI][fF] -text
# tga
*.[tT][gG][aA] -text
# prj
*.[pP][rR][jJ] -text
# dwg
*.[dD][wW][gG] -text
# flt
*.[fF][lL][tT] -text
# htr
*.[hH][tT][rR] -text
# iges
*.[iI][gG][eE][sS] -text
# igs
*.[iI][gG][sS] -text
# ige
*.[iI][gG][eE] -text
# ipt
*.[iI][pP][tT] -text
# iam
*.[iI][aA][mM] -text
# lp
*.[lL][pP] -text
# ls
*.[lL][sS] -text
# shp
*.[sS][hH][pP] -text
# aep
*.[aA][eE][pP] -text
# psb
*.[pP][sS][bB] -text
# edx
*.[eE][dD][xX] -text
# cds
*.[cC][dD][sS] -text
# exr
*.[eE][xX][rR] -text
# bc
*.[bB][cC] -text
# 文档，Document
# Microsoft Excel
# xls
*.[xX][lL][sS] -text
# xlsx
*.[xX][lL][sS][xX] -text
# xslsm
*.[xX][sS][lL][sS][mM] -text
# xlt
*.[xX][lL][tT] -text
# xltx
*.[xX][lL][tT][xX] -text
# xltm
*.[xX][lL][tT][mM] -text
# Microsoft powperpoint
# ppt
*.[pP][pP][tT] -text
# pptx
*.[pP][pP][tT][xX] -text
# pps
*.[pP][pP][sS] -text
# ppsx
*.[pP][pP][sS][xX] -text
# ppsm
*.[pP][pP][sS][mM] -text
# pptm
*.[pP][pP][tT][mM] -text
# pot
*.[pP][oO][tT] -text
# potm
*.[pP][oO][tT][mM] -text
# Microsoft word
# doc
*.[dD][oO][cC] -text
# docx
*.[dD][oO][cC][xX] -text
# docm
*.[dD][oO][cC][mM] -text
# dot
*.[dD][oO][tT] -text
# dotx
*.[dD][oO][tT][xX] -text
# dotm
*.[dD][oO][tT][mM] -text
# Apple keynotes
# key
*.[kK][eE][yY] -text
# Apple pages
# pages, apple
*.[pP][aA][gG][eE][sS] -text
# Apple numbers
# numbers, apple
*.[nN][uU][mM][bB][eE][rR][sS] -text
# 电子书，Book
# chm
*.[cC][hH][mM] -text
# mobi
*.[mM][oO][bB][iI] -text
# epub
*.[eE][pP][uU][bB] -text
# azw
*.[aA][zZ][wW] -text
# azw3
*.[aA][zZ][wW]3 -text
# iba
*.[iI][bB][aA] -text
# lrs
*.[lL][rR][sS] -text
# lrf
*.[lL][rR][fF] -text
# lrx
*.[lL][rR][xX] -text
# djvu
*.[dD][jJ][vV][uU] -text
# lit
*.[lL][iI][tT] -text
# rft
*.[rR][fF][tT] -text
# cbr
*.[cC][bB][rR] -text
# cbz
*.[cC][bB][zZ] -text
# cb7
*.[cC][bB]7 -text
# cbt
*.[cC][bB][tT] -text
# cba
*.[cC][bB][aA] -text
# pdb
*.[pP][dD][bB] -text
# 字体，font
# ttf
*.[tT][tT][fF] -text
# otf
*.[oO][tT][fF] -text
# woff
*.[wW][oO][fF][fF] -text
# woff2
*.[wW][oO][fF][fF]2 -text
# 翻译，translate
# po
*.[pP][oO] -text
# 无后缀文件，non-suffix files
Chromium[[:space:]]Embedded[[:space:]]Framework -text
Electron[[:space:]]Framework -text
ispc -text
node-bifrost -text
phonon_bundle -text
UnrealGame -text
UnrealGame-IOS-Shipping -text
UnrealGame-LinuxAArch64-DebugGame -text
UnrealGame-Linux-DebugGame -text
UnrealGame-IOS-DebugGame -text
UnrealGame-LinuxAArch64-Shipping -text
UnrealGame-Linux-Shipping -text
EpicWebHelper -text
mna -text
hippy -text
apollo -text
gcloud -text
gcloudcore -text
txliteavsdk_liveplay -text
beetalksdk -text
grecordersdk -text
midasiapsdk -text
beaconapi_base -text
beaconapi_log -text
beaconapi_speed -text
fbsdkcorekit -text
fbsdkloginkit -text
fbsdksharekit -text
pvrtextoolcli -text
fbuildworker -text
fbuild -text
reflectionprobe_day -text
reflection -text
sublime -text
adjustsdk -text
grecorder -text
wsjpaysdk -text
bugly -text
ntvsdk -text
elvachatservicesdk -text
whatevergreen -text
awscore -text
awss3 -text
dedicatedsvr -text
awscognitoidentityprovider -text
awscognito -text
gsdk -text
appsflyerlib -text
xlua -text
firebaseanalytics -text
tdatamaster -text
vksdkframework -text
bolts -text
tencentopenapi -text
msdkdns -text
tdr -text
kakaoopensdk -text
googleinterchangeutilities -text
googleiphoneutilities -text
googleutilities -text
ffmpeg -text
sdwebimage -text
upm-macos -text
upm-linux -text
usymtool -text
qtskdb -text
linuxplayer -text
texturepacker -text
age -text
ageaction -text
perfetto_unittests -text
qtsvfs -text
gdbserver -text
glazed_patio -text
usymtool32 -text
unityfbxsdknative -text
pedump -text
firebasemessaging -text
aksoundengine -text
mqttframework -text
firebaseinstanceid -text
libpvrtccompressor -text
grobot -text
clover configurator -text
kakaogamesdk -text
normalsfittingtexture_dds -text
minimsdk -text
texturecompress -text
tdbms -text
xgmtacloud -text
applealc -text
xml2bin -text
testlibresloader -text
shaderlabparser -text
resprint -text
realtekrtl8111 -text
sparkle -text
mtpclientconsole -text
unity_builtin_extra -text
librapidxml -text
itopdns -text
vc2013 -text
compiler -text
libpag -text
kgvmp -text
escher -text
tavaovgametemplate -text
curl -text
privilegesdk -text
aapt -text
ui_minggwen -text
simpleperf -text
zstd -text
msdkcore -text
msdksystem -text
msdkxg -text
msdkwebview -text
msdkwechat -text
msdkqq -text
msdkadapter -text
msdkauthgamecenter -text
imsdkcorekit -text
imsdkwebview -text
imsdkgarena -text
imsdkextendnetmarble -text
imsdkbugly -text
imsdkextendtool -text
imsdkstatadjust -text
imsdkvk -text
imsdknotice -text
imsdkfriendfacebook -text
imsdkfriendsms -text
imsdkloginapple -text
imsdkfriendwhatsapp -text
imsdkstatbeacon -text
imsdkloginfacebook -text
imsdkfriendline -text
imsdkfriendsystem -text
imsdkauthfacebook -text
imsdkstatappsflyer -text
nmgsdkcorekit -text
nmgsdkpromotionkit -text
nmgsdkcommonwebviewkit -text
nmgsdkreviewkit -text
nmgsdknoticekit -text
nmgsdkcustomersupportkit -text
nmgsdktermsofservicekit -text
nmgsdktermsofservicekit -text
nmgsdkkakao2kit -text
nmgsdksigninwithapplekit -text
genrb -text
mtlpp -text
airdiff -text
derb -text
pkgdata -text
ue4_denorm -text
icupkg -text
gendict -text
makeconv -text
gennorm2 -text
gencmn -text
genccode -text
unrealatos -text
ptdbtool_macos_lipobin -text
cmake -text
dump_syms -text
ue4editorservices -text
dsymexporter -text
svn -text
svnbench -text
svnmucc -text
svnrdump -text
svnsync -text
svnserve -text
svnadmin -text
svnlook -text
svndumpfilter -text
svnfsfs -text
svnversion -text
arcoreimg -text
mono-sgen64 -text
mono-xcompiler -text
p4 -text
unrealsync -text
minidumpdiagnostics -text
unrealversionselector-linux-shipping -text
openvr -text
unrealcefsubprocess -text
phonon_bundle -text
chromium -text
ispc -text
/ArcheryBattle_5_6_1/Saved/Cooked/Windows/ArcheryBattle_5_6_1/Content/ArrowTrail/Texture/T_FlowLoop.ubulk -text
/ArcheryBattle_5_6_1/Saved/Cooked/Windows/ArcheryBattle_5_6_1/Content/ShaderArchive-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode -text
/ArcheryBattle_5_6_1/Saved/Cooked/Windows/ArcheryBattle_5_6_1/Metadata/ShaderLibrarySource/ShaderArchive-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode -text
/ArcheryBattle_5_6_1/Saved/Shaders/PCD3D_SM6-PCD3D_SM6/ShaderCode-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode -text
/ArcheryBattle_5_6_1/Saved/StagedBuilds/Windows/ArcheryBattle_5_6_1/Content/Paks/ArcheryBattle_5_6_1-Windows.ucas -text
